The google link for this tutorial is:


link:
### https://tinyurl.com/5XY7ZYA7


You will need a google login to run.
Not all files used in other scripts will be available.

You can login with:
<br>user: NDPcoding (or NDPcoding@gmail.com)
<br>password: NDPcoding


First, if you don't see a green checkmark in the upper right (Connect or Reconnect is shown), select "Connect to a hosted runtime" from the dropdown menu.


You can follow along by opening the file, but please after opening use "File->Open in Playground Mode", which will allow you to edit but will not save the changes.

## Outside resources:
This is a getting started with Python for the MCW NDP Coding bootcamp.

For those unfamiliar with programming/python, a useful resource is https://www.pythonforbiologists.org/

Introduction to Scientific Programming with Python
https://link.springer.com/book/10.1007/978-3-030-50356-7

In [ ]:
#Comments are not run.
# variables assignment and print statements
# variables can be any data type: string(""), integer, floating point(1.234; 1.678e-10), boolean (true/false)
todisplay = "Hello World" #string value
number = 3
floatingnumber = 3.267
booleanval = True

newvariable = "asdf"

print(todisplay)
print(number)
print(floatingnumber)
print(booleanval)

Hello World
3
3.267
True

In [ ]:
print(type(todisplay))
print(type(number))
print(type(floatingnumber))
print(type(booleanval))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# note that for print statements, we cannot combine strings and numbers without some help
# this statement would fail:   print(todisplay + number)
# but this will work:
print(todisplay + ", number:" + str(number))

Hello World, number:3

In [ ]:
#lists can be strings or other variable types

integerlist = [1, 2, 7, 4, 5]
stringlist = ['apple','banana','pear']

print(integerlist)
print(stringlist)

[1, 2, 7, 4, 5]
['apple', 'banana', 'pear']

## Section: conditional statements and loops

Important note,
- in python, indentation is essential for loops and statements (and functions and other tools)
- each tab on the beginning of a line defines where that code gets used.
- any unexpected errors will appear as 'expected an indented block'

In [ ]:
#Conditional statements, if, if/else
#  A==B, A<B, A>B, A<=B, A>=B, not A==B,...
numFiles = 11

if numFiles == 10:
  print('yes, 10')
else:
  print('not 10')
#note there is no 'end' statement. Indentation defines where it ends (different than other languages)

# also, there does not have to be an 'else' statement.
istrue = False
if istrue:
  print('Yes, is true')

print('Outside of if statements')

not 10
Outside of if statements

In [ ]:
# strings can also be compared
sky = 'blue'
if not (sky == 'blue'):
  print('sky is not blue, it is ' + sky)
else:
  print('sky is blue')

sky is blue

In [ ]:
fname = 'GFAP_1234_something_animal1.tiff'

if ('GFAP' in fname):
  print('yes GFAP')
else:
  print('no GFAP')

yes GFAP

In [ ]:
# combining if statements
team = 'ferrari'
driver ='leclerec'

# statements can be combined as sub-statements:
if team == 'ferrari':
  if driver == 'leclerec':
    print('Forza ferrari!')
  elif driver == 'sainz':
    print('go carlos')
  else:
    print('go carlos')
else:
  print('meh')

# or can be combined as and/or statements
if (team == 'ferrari') and (driver == 'leclerec'):
  print('Drive!')
else:
  print('meh')


#the choice depends on how you need it to work

Forza ferrari!
Drive!

In [ ]:
#loops and conditional statements
numFiles = 6
numRange = [2, 1, 3, 4, 5, 6] #
print(numRange) #prints the object

for nf in numRange:  #range(start, stop)
  print(nf)
  if nf == 4:
    print('Skipping' , nf,'for some reason')
  else:
    print("I'm at", nf)
print('Can also use this type of print, but convert numbers to string '+str(4))

[2, 1, 3, 4, 5, 6]
2
I'm at 2
1
I'm at 1
3
I'm at 3
4
Skipping 4 for some reason
5
I'm at 5
6
I'm at 6
Can also use this type of print, but convert numbers to string 4

In [ ]:
#loops and conditional statements
nf = 10
while nf > 0:
  print(nf)
  if nf == 4:
    print('Skipping' , nf,'for some reason')
  else:
    print("I'm at", nf)
  nf = nf - 1 # note this is within the for loop.  If you don't have it, you will loop forever (nf never gets to 0)

10
I'm at 10
9
I'm at 9
8
I'm at 8
7
I'm at 7
6
I'm at 6
5
I'm at 5
4
Skipping 4 for some reason
3
I'm at 3
2
I'm at 2
1
I'm at 1

An example of a list, also often referred to as an array (but strictly a list in python)

## Lists

In [ ]:
#loops across lists
testlistnum = [3, 6, 7, 2.1,  11, 12] #number list

# note that the first item in a list is zero: testlistnum[0] is 3.
for s in range(0,len(testlistnum)):
  stimes10 = testlistnum[s] * 10
  print(stimes10)

print(testlistnum[2]) #0 is first element

30
60
70
21.0
110
120
7

In [ ]:
testlisttext = ['car','horse','bike', 'scooter'] #string list
for s in range(0,len(testlisttext)):
  print(testlisttext[s])

#you can also append to a list:
testlisttext.append('elephant')
print(testlisttext)

car
horse
bike
scooter
['car', 'horse', 'bike', 'scooter', 'elephant']

A note about errors

In [ ]:
# this example will produce an error because twelve variable is not set (defined)
twelve = 'car'
if twelve == "car":
  print('didnt get here')

didnt get here

In [ ]:
#you will often see syntax like this in python code
c = [b*b for b in range(0,5)]  #square numbers 0 to 4
print(c)


#it is simply a more compact version of this
c2 = []
for b in range(0,5):
  c2.append(b*b)

print(c2)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

## Section: Importing, modules, functions, and references
There are many different packages available that have different features to use.
Do not reinvent the wheel, so first look for (google) some task, package, tool that has resources you might need.

In [ ]:
#some are simple:
import math
r = math.sqrt(2)
print(r)

1.4142135623730951

In [ ]:
from math import sqrt
r = sqrt(2)
print(r)

1.4142135623730951

In [ ]:
from math import * # import everything in math
r = sqrt(2)
print(r)

1.4142135623730951

In [ ]:
import os

filename = "somefile.txt"
filepath = "some/path/name/here"

fullfile = os.path.join(filepath,filename)
print(fullfile)

some/path/name/here/somefile.txt

In [ ]:
#file handles

fp = open(filename,'wt')
fp.write('Im writing some text to this file.')
fp.close()


#python preferred way:
with open(filename,'at') as fp:
  fp.write("\n") #write a newline since we didn't previously
  fp.write("This will append to the previous file.")

#note there is no explicit close here, since it is assumed


with open(filename,'r') as fp:
  filecontents = fp.read()

print(filecontents)

Im writing some text to this file.
This will append to the previous file.

In [ ]:
# to install features, use pip: python installer

## Section: Functions
If we want to reuse code, functions can help
format is
def name(arguments):
  something = dosomething()
  return something

In [ ]:
# define a function to add two numbers. Note here the return statement that sends the result as the output
def addTwoNumbers(a,b):
  c = a + b
  return c


result = addTwoNumbers(10,11)
print(result)

21

In [ ]:
# multiple returns can be used
def doubleSquares(a):
  b = a * a
  c = b * b
  return b, c


this, that = doubleSquares(6)
print(this)
print(that)

36
1296

In [ ]:
# multiple inputs and returns can be used
def doubleSquares(a, b):
  a2 = a * a
  b2 = b * b
  return a2, b2


this, that = doubleSquares(6,4)
print(this)
print(that)

36
16

In [ ]:
# variables and their 'scope'
# variables within functions are local, that is, separate and only have the value inside of the function
startingvar = 12
def multByTwo(thisA):
  startingvar = thisA * 2
  print(startingvar)
  return startingvar

endingvar = multByTwo(startingvar)
print(startingvar)

24
12

In [ ]:
var123 = 12
print(var123)

def doSomething(a):
  global var123
  var123 = 2
  print('inside of function')
  print(var123)
  c = a * 123
  return c

print('before calling function')
print(var123)
a = doSomething(6)
print('after calling function')
print(var123)

12
before calling function
12
inside of function
2
after calling function
2

In [ ]:

try:
  a = 1 / 0
except:
  print('Tried something stupid')

Tried something stupid